<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Schedules Management</title>
</head>
<body>
    <%- include('../partials/header') %>
    <br>
    <form action="/schedules" method="post">
        <label for="day">Select day</label>
        <select name="day" id="day">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>

        <label for="start_at">Start at:</label>
        <select name="start_at" id="start_at">
            <% for(let i=9;i<24; i++){ %>
                <option value="<%= i %>:00<%= i>11?'pm':'am'%>"><%= i %>:00<%= i>11?'pm':'am'%></option>
             <% } %>   
            </select>
        
        <label for="end_at">End at:</label>
        <select name="end_at" id="end_at">
            <% for(let i=9;i<24; i++){ %>
                <option value="<%= i %>:00<%= i>11?'pm':'am'%>"><%= i %>:00<%= i>11?'pm':'am'%></option>
            <% } %>   
            </select>    

        <button type="submit">Add schedule</button>
     </form>
     <a href="/allschedules">View all schedules</a>
    <div class="mydiv">
     <% if(schedules.length==0){ %>
         <p>No schedules for the user</p>
     <% }else{ %>
        <% for(let i=0;i<schedules.length;i++){ %>
            <div class="innerdiv">
                <p>User id:<%= schedules[i].userid %></p>
                <p>Day:<%= schedules[i].sday %></p>
                <p>Start At:<%= schedules[i].start_at %></p>
                <p>End At:<%= schedules[i].end_at %></p>
                <button>Delete</button>
            </div>
            <%} %>
        <%} %>
    
    </div>    
</body>
</html>